<!DOCTYPE html>
<html>
<head>
<title>Lemonade Stand Supply</title>
<link href="/css/app.css" rel="stylesheet" />
</head>
<body>
	<header class="row">
		<div class="columns small-2">
			<div class="logo-container">
				<div class="logo"></div>
				<h1>Lemonade Stand Supply</h1>
			</div>
		</div>
		<div class="columns small-10">
			<div class="row">
				<div class="columns small-1 small-offset-9">
					<a class="secondary-color tiny" href="/html/login.html"> login </a>
				</div>
				<div class="columns small-2">
					<img src="/img/cart_small.png" alt="cart" />
				</div>
			</div>
			<div class="row">
				<nav class="columns small-6 small-offset-6">
					<div class="row">
						<div class="columns small-3 item">
							<a href="/html/home.html">Home</a>
						</div>
						<div class="columns small-3 item">
							<a href="/html/shop.html">Shop</a>
						</div>
						<div class="columns small-6 item">
							<a href=".">Stand Locator</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<div class="row login">
		<div class="columns small-6 small-offset-3">
			<fieldset>
				<legend>Login</legend>
				<form action="/html/home.html" method="post" class="row">
					<div class="row">
						<div class="columns small-6 text-right">
							email
						</div>
						<div class="columns small-6">
							<input type="text" name="email" />
						</div>
					</div>
					<div class="row">
						<div class="columns small-6 text-right">
							password
						</div>
						<div class="columns small-6">
							<input type="password" name="password" />
						</div>
					</div>
					<div class="row">
						<div class="columns small-12 text-right">
							<a class="password-reset">
								I forgot my password
							</a>
							<button class="small">
								Login
							</button>
						</div>
					</div>
				</form>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="columns small-12 text-right social-media">
			<span>Follow us</span> <img src="/img/social_media.png"
				alt="social media" />
		</div>
	</div>
</body>
</html>