<!DOCTYPE html>
<html>
<head>
<title>Lemonade Stand Supply</title>
<link href="/css/app.css" rel="stylesheet" />
</head>
<body>
	<header class="row">
		<div class="columns small-2">
			<div class="logo-container">
				<div class="logo"></div>
				<h1>Lemonade Stand Supply</h1>
			</div>
		</div>
		<div class="columns small-10">
			<div class="row">
				<div class="columns small-1 small-offset-9">
					<a class="secondary-color tiny" href="/html/login.html"> login
					</a>
				</div>
				<div class="columns small-2">
					<img src="/img/cart_small.png" alt="cart" />
				</div>
			</div>
			<div class="row">
				<nav class="columns small-6 small-offset-6">
					<div class="row">
						<div class="columns small-3 item">
							<a href="/html/home.html">Home</a>
						</div>
						<div class="columns small-3 item">
							<a href="/html/shop.html">Shop</a>
						</div>
						<div class="columns small-6 item">
							<a href=".">Stand Locator</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<form action="." method="post" class="row profile">
		<div class="columns small-8 small-offset-2">
			<div class="row">
				<div class="columns small-10 small-offset-2">
					<h3>Contact Information</h3>
				</div>
			</div>
			<div class="row">
				<div class="columns small-6 text-right">First Name</div>
				<div class="columns small-6">
					<input type="text" name="firstName" />
				</div>
			</div>
			<div class="row">
				<div class="columns small-6 text-right">Last Name</div>
				<div class="columns small-6">
					<input type="text" name="lastName" />
				</div>
			</div>
			<div class="row">
				<div class="columns small-6 text-right">Email Address</div>
				<div class="columns small-6">
					<input type="text" name="email" />
				</div>
			</div>
			<div class="row">
				<div class="columns small-10 small-offset-2">
					<h3>Stand Information</h3>
				</div>
			</div>
				<div class="row">
				<div class="columns small-6 text-right">Address</div>
				<div class="columns small-6">
					<input type="text" name="standAddress" />
				</div>
			</div>
			<div class="row">
				<div class="columns small-6 text-right">City</div>
				<div class="columns small-6">
					<input type="text" name="standCity" />
				</div>
			</div>
			<div class="row">
				<div class="columns small-6 text-right">State</div>
				<div class="columns small-6">
					<input type="text" name="standState" />
				</div>
			</div>
			<div class="row">
				<div class="columns small-6 text-right">Zip Code</div>
				<div class="columns small-6">
					<input type="text" name="standZip" />
				</div>
			</div>
			<div class="row">
				<div class="columns small-12 text-right">
					<button class="small" type="submit">Save</button>
				</div>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="columns small-12 text-right social-media">
			<span>Follow us</span> <img src="/img/social_media.png"
				alt="social media" />
		</div>
	</div>
</body>
</html>